body {
  font-family: Arial, sans-serif;
  background: #c199c9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(138, 94, 133);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(216, 216, 216, 0.1);
}

#display {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
